.historyPage{
    padding-bottom: 5rem;
}

.historySection{
    padding: 1rem;
    gap: 3rem;
}

.historyClean{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.historyLeft{
    width: 30%;
    gap: 1rem;
    background-color: var(--brand-color);
    padding: 2rem;
    border-radius: var(--radius-sm);
}

.historyRight{
    gap: 2rem;
    width: 60%;

}

@media only screen and (max-width: 780px){
    .historyLeft{
        width: 100%;
    }
    .historyRight{
        width: 100%;
    }
}