/* Defining root colors for the brand */
:root{

    --font-primary: #FFFFFF;
    --font-gray: #747474;
    --font-dark: #1b1b1b;

    /* backgorund colors  */
    --background-dark: #1C2328;
    --background-gray: #1F2128;

    /* pastels */
    --pastel-blue: #688DE2;
    --pastel-indigo: #726CF2;
    --pastel-green: #5BB68B;
    --pastel-red: #DA714F;
    --pastel-yellow: #E6C142;
    --color-pop-1: #639EF5;
    --color-pop-2: #716EF5;
    --color-pop-3: #F29C36;
    --color-pop-4: #F57042;
    /* font family  */
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

.App {
}
.dark-theme{
    background-color: var(--background-dark);
    color: var(--font-primary);
}
